.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.json {
  margin-top: 2rem;
  display: flex;
}

.textfield {
  margin-bottom: 1rem;
}

.select-file {
  display: flex;
  gap: 0.5rem;
  flex: 5;

  .input {
    flex: 1;
  }

  .button {
    flex: initial;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.options {
  display: flex;
  gap: 1rem;
}
