.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.json {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.textfield {
  margin-bottom: 1rem;
}

.logo {
  margin-top: 1rem;
  text-align: center;
  img {
    max-width: 40%;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
  }
}

.select-file {
  display: flex;
  gap: 0.5rem;
  flex: 5;

  .input {
    flex: 1;
  }

  .button {
    flex: initial;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.options {
  display: flex;
  gap: 1rem;
}

.color-picker {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;

  & input {
    display: block;
    box-sizing: border-box;
    width: 90px;
    margin: 20px 55px 0;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #eee;
    outline: none;
    font: inherit;
    text-transform: uppercase;
    text-align: center;

    &:focus {
      border-color: #1976df;
      box-shadow: 0 0 0 1.5px #1976df;
    }
    &:hover {
      border-color: #000;
    }
    &:hover:focus {
      border-color: #1976df;
      box-shadow: 0 0 0 1.5px #1976df;
    }
  }
}

.features {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
