body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.root {
  display: flex;
  width: 80%;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
}

.edit {
  color: black;
  background-color: #ffc107;
}

.delete {
  background-color: #d44950;
}

.divider {
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-json-view {
  font-size: 1rem;
}

[name='body'] {
  font-size: 1rem !important;
}
