.select {
  display: flex;
  gap: 0.5rem;
}

body {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

button {
  background-color: #212529;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.edit {
  color: black;
  background-color: #ffc107;
}

.delete {
  background-color: #d44950;
}

.divider {
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
